<% const d=new Date(); let year=d.getFullYear(); %>
  <footer>
    <p class="copyright">&copy; <%= year %>, CSE Motors</p>
    <p class="error-test"><a href="/inv/trigger-error" title="Test Error Handling">Trigger Error (Test)</a></p>
  </footer>