<% const flash=(typeof getFlash==="function" ) ? getFlash() : {}; %>

    <% if (flash.success && flash.success.length) { %>
        <div class="notice success">
            <%= flash.success[0] %>
        </div>
        <% } %>

            <% if (flash.error && flash.error.length) { %>
                <div class="notice error">
                    <%= flash.error[0] %>
                </div>
                <% } %>

                    <% if (flash.notice && flash.notice.length) { %>
                        <div class="notice info">
                            <%= flash.notice[0] %>
                        </div>
                        <% } %>

                            <% if (flash.message && flash.message.length) { %>
                                <div class="notice info">
                                    <%= flash.message[0] %>
                                </div>
                                <% } %>